html, body, ul, li{
    margin: 0;
    padding: 0;
}


.container{
    width: 960px;
    margin: 0 auto;
}

.hide{
	display:none;
}

/** HEADER STLYES*/
#header {
	padding: 1em;
    color: #fff;
	width: 100%;	
    margin: 0 auto;

}

#top{
	background: #333333;
	/*background-image:url("../imgs/headphones.png");*/
	/*background-image:url("../imgs/plane2.png");*/
	background-size: cover;
	background-repeat: no-repeat;
	
}

#top.bgImage1{
	background-image:url("../imgs/headphones.png");
}
#top.bgImage2{
	background-image:url("../imgs/plane2.png");
}

/** NAV STLYES**/
ul#main-menu{ 
    padding: 0; 
}

ul#main-menu li{ 
    display: inline-block;
    padding: .5em .5em;
    margin: 0;
}
 
#navigation .section{
    text-align: left;
    height: 80px; 
	font-weight:bold;
}

#navigation .section ul{  
	font-size: 25px;
}

#navigation .section li{
    /*Give the | to split options*/
	border-left: 2px solid #fff;
}

#navigation .section li.first{
    border: 0;
}

#navigation .section li.active{
}

#navigation .section li.active a{
    color: #C0FFE1;
}

#navigation .section li a{
    /*color: #FF7360;*/
    color: #FF3B1F;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    display: block;
}

#navigation .section li a:hover{
    color: #B21600;
}

#main-wrapper{
	padding:10px 5px;
	font-family: 'Russo One', sans-serif;
	min-height:500px;
}

.HomeImages{
	width: 500px;
	font-family: 'Russo One', sans-serif;
}

.amp{
	background-image:url("../imgs/amp-grayscale1.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height:300px;
}

/*NextEventBlock added via page.tmpl*/
.NextEventBlock{
	font-family: 'Russo One', sans-serif;
	text-align: center;
	border: 5px solid #B21600; 
	background-color: #C0FFE1;
	
}

.NextEventBlock h2{
	color: #B21600;
}

/*NextEvent Added via ViewBlock CSS*/
.NextEvent{
	padding-bottom:5px;
	font-size:1.5em;
	font-weight:bold;
	color: #B21600;
		
}

.NextEvent a{
	color: #FF7360;
}

.one-fourth{
    width: 25%;
    float: right;
}

.three-fourths{
	float: left;
	width: 70%;
	padding: 5px;
}


/*Vacation*/
.view-vacations.view-display-id-page{
	font-size:1.2em;
	font-family: 'Russo One', sans-serif;
}

/** FOOTER STLYES **/
#footer {
    padding: 1em;
    background: #FF3B1F;          
	background: #B21600;          
    color: #fff;
	width: 100%;
    font-size: .8em;
}

#footer .section li a{
    color: #FF7360;
    color: #FFF;
	text-decoration:none;
}
#footer .section li.active a{
    color: #C0FFE1;
}








